
// Colours

// CYAN
//$brand-primary: #00BCD4;
//$brand-primary-500: $brand-primary;
//$brand-primary-900: #006064;

// TEAL
//$brand-primary: #009688;
//$brand-primary-500: $brand-primary;
//$brand-primary-900: #004D40;

$brand-primary: #00718e; // fotf
$brand-primary-500: $brand-primary;

// Specialty colours
$rolf-green: #18bc9c;
