
form {
  .info.row {
    margin-bottom: 30px;
  }
  .panel {
    margin-bottom: 40px;
  }
  .panel-heading,
  .panel-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .panel-body {
    padding: 30px 30px 0px;

    .form-group {
      margin-bottom: 45px;
    }
  }
}

label {
  text-transform: uppercase;
}
